@model GameServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <img class="card-img-top "
                 src="@Model.ImageUrl" alt="Game Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@Model.GameTitle</h5>
                <p class="m-1" style="color:red;">Metacritic Rating: @Model.Rating</p>
                
                <div style="min-height: 15px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 350px;">
                            @Model.Summary
                        </div>
                    </div>
                </div>

            </div>
            
            <a asp-area="" asp-controller="Mod" asp-action="ModsGame" asp-route-id="@Model.Id"
               class="fs-6 btn btn-success mb-3 p-2">Mods</a>

            <a asp-area="" asp-controller="HowLongToBeat" asp-action="HowLongGame" asp-route-id="@Model.Id"
               class="fs-6 btn btn-success mb-3 p-2">HowLongToBeat</a>

            <a asp-area="" asp-controller="SystemRequirements" asp-action="SystemRequirementsGame" asp-route-id="@Model.Id"
               class="fs-6 btn btn-success mb-3 p-2" style="background-color: #b58900">System Requirements</a>

        </div>
    </div>
    
</div>