@model IEnumerable<ModModel>

@{
    int number = 1;
}

@if (Model.Any())
{
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="text-center">
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Mod" asp-action="Create" asp-route-gameId="@Model.FirstOrDefault().GameId">Create a Mod!</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <a class="btn btn-primary btn-lg" asp-controller="User" asp-action="Login">Please login to create a mod for the game!</a>
        </div>

    }
    
    @foreach (var mods in Model)
    {

            <h4 align="center"> <span style="color: aqua">Mod @number</span> - @mods.ModName for <strong>@mods.GamesTitle</strong></h4>
            <div class="col-md-4" style="width:700px; margin:0 auto;">
                <div class="card mb-3">
                    <div class="card-body text-center">

                        <div id="carouselExampleIndicator-@number" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicator-@number" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            @if (@mods.ModImageTwo != null || @mods.ModImageThree != null || @mods.ModImageFour != null)
                            {
                                        <button type="button" data-bs-target="#carouselExampleIndicator-@number" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicator-@number" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicator-@number" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            }

                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="@mods.ModImageOne" class="d-block w-100" alt="...">
                                </div>
                            @if (@mods.ModImageTwo != null || @mods.ModImageThree != null || @mods.ModImageFour != null)
                            {
                                        <div class="carousel-item">
                                            <img src="@mods.ModImageTwo" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="@mods.ModImageThree" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="@mods.ModImageFour" class="d-block w-100" alt="...">
                                        </div>
                            }
                            </div>
                            <button class="carousel-control-prev" type="button" style="color: aqua" data-bs-target="#carouselExampleIndicator-@number" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" style="color: aqua" data-bs-target="#carouselExampleIndicator-@number" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>


            <nav>
                <div class="nav nav-tabs" id="'nav-tab-'+ @number" role="tablist">
                    <button class="nav-link active" id="nav-home-tab-@number" data-bs-toggle="tab" data-bs-target="#nav-home-@number" type="button" role="tab" aria-controls="nav-home-@number" aria-selected="true">Download Mod Link</button>
                    <button class="nav-link" id="nav-profile-tab-@number" data-bs-toggle="tab" data-bs-target="#nav-profile-@number" type="button" role="tab" aria-controls="nav-profile-@number" aria-selected="false">Youtube Video Comparison</button>
                    <button class="nav-link" id="nav-contact-tab-@number" data-bs-toggle="tab" data-bs-target="#nav-contact-@number" type="button" role="tab" aria-controls="nav-contact-@number" aria-selected="false">ABOUT THIS MOD</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home-@number" role="tabpanel" aria-labelledby="nav-home-tab-@number">
                @if (@mods.DownloadModLink == null)
                {
                            <h2>No mods available for @mods.ModName</h2>
                }
                else
                {
                            <a href="@mods.DownloadModLink" target="_blank">Download and Install @mods.ModName</a>
                }
                </div>
                <div class="tab-pane fade" id="nav-profile-@number" role="tabpanel" aria-labelledby="nav-profile-tab-@number">
                @if (@mods.YoutubeVideoModComparison == null)
                {
                            <h2>No videos available for @mods.ModName</h2>
                }
                else
                {
                            <iframe width="1400" height="500" src="@mods.YoutubeVideoModComparison" frameborder="0" allowfullscreen></iframe>
                }

                </div>
                <div class="tab-pane fade" id="nav-contact-@number" role="tabpanel" aria-labelledby="nav-contact-tab-@number">
                    <h2>Description</h2>
                    <p>@mods.Description</p>
                </div>

            </div>


        number++;

    }
}
else
{
    <h2 class="text-center">No How Long To Beat found!</h2>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
       
        <div class="text-center">
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Mod" asp-action="Create" asp-route-gameId="">Create a Mod!</a>
        </div>
        
    }
    else
    {
        <div class="text-center">
            <a class="btn btn-primary btn-lg" asp-controller="User" asp-action="Login">Please login to create a Mod!</a>
        </div>

    }
     
}





