@model AllGamesQueryModel

@{
    ViewBag.Title = "Games Library";
}

<h2 class="text-center">@ViewBag.Title</h2>
<h2 class="text-center">@ViewBag.Rating</h2> 

<hr />



<form method="get">
    <div class="row" style="width: 130%; display: flex;">
        
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Genre"></label>
                <select asp-for="Genre" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Genres)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchGame"></label>
            <input asp-for="SearchGame" class="form-control" placeholder="...">
        </div>

        <div class="col-md-3" style="display: flex; align-items: end; padding-bottom: 0px">
            <div class="form-group mt-4 p-2" style="padding: 0 !important">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        </div>

    </div>
</form>

<h2 class="text-center">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            View Games Summary
        </button>
    </p>
    <div style="min-height: 15px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            @ViewBag.Summary

        </div>
    </div>
</h2>

@if (!Model.Games.Any())
{
    <h2 class="text-center">No games found!</h2>

    
}

<div class="row">
    @foreach (var game in Model.Games)
    {
        <partial name="_GamePartial" model="@game" />
    }
</div>



@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalGamesCount /
                               AllGamesQueryModel.HousesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Game"
           asp-action="AllGames"
           asp-route-currentPage="@previousPage"
        ><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Games.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary 
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Game"
           asp-action="AllGames"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
        >>></a>
    </div>
</div>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <div class="text-center">
        <a asp-controller="Game" asp-action="Add" class="btn btn-primary btn-sm"
           role="button">Add Game</a>
    </div>
}

